.home-container {
    background-color: var(--sky-blue);
    padding: 2vw;
  }
  
  .home-header {
    font-family: 'Leckerli One', sans-serif;
    font-size: 8vh;
    font-weight: bold;
    color: #f7edf2;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .articles-grid {
    margin-top: 5vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20vw, 1fr));
    grid-gap: 2vw;
  }
  
  .article-card {
    border: 1px solid #ccc;
    padding: 2vw;
    background-color: #fff;
    margin-bottom: 2vh;
  }
    
  #article-pic {
    width: 18vw;
    max-height: inherit;
    margin-bottom: 2vh;
  }
  
  .article-description {
    font-family: 'Leckerli One', sans-serif;
    font-size: 1vw;
    color: #666;
  }
  
  #myInput {
    box-sizing: border-box;
    background-position: 2vh 1vh;
    background-repeat: no-repeat;
    font-size: 2vh;
    padding: 2vh 2vw 1vh 6vw;
    border: none;
    border-bottom: 0.5vh solid #ddd;
  }
  
  #myInput:focus {
    outline: 0.5vh solid #ddd;
  }
  
  a {
    text-decoration: none;
    color: #023047ff;
  }
  
  .search-button {
    font-family: 'Leckerli One', sans-serif;
    font-size: 1vw;
    background-color: #219ebc;
    transition-duration: 0.4s;
    height: 4vh;
    width: 9vh;
    margin-left: 1vh;
  }
  
  .search-button:hover {
    background-color: #023047;
    color: white;
  }
    
  .home-button {
    position: absolute;
    top: 20px;
    right: 20px;
    font-family: 'Leckerli One', sans-serif;
    font-size: 1.5vw;
    background-color: #219ebc;
    color: #023047;
    height: 3vh;
    width: 5vw;
    padding: 0.3em 0.6em;
    border: 1px solid #ccc;
    transition-duration: 0.4s;
    padding-left: 2%;
  }
  
  .home-button:hover {
    background-color: #023047;
    color: white;
  }
  